.center-div {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.main-carrd {
    height: 500px;
    width: 400px;
    border: solid;
    border-width: 5px;
    border-color: rgb(252, 2, 2);
    background-color: black;
    color: red;
    padding: 10px;
}

.about {
    border: inherit;
    border-color: inherit;
    border-width: 3px;
    height: 250px;
    padding: 5px;
    display: flex;
    text-align: left;
}

.about .col-1 {
    width: 150px;
    border:inherit;
    margin-right: 5px;
    padding: 5px;
}

.about .col-2 {
    border:inherit;
    width: 220px;
    padding: 5px;
}

.links {
    border: inherit;
    border-color: inherit;
    border-width: 3px;
    margin: 5px 0px;
    height: 85px;
    padding-bottom: 7px;
}

.links .subtitle {
    width: inherit;
    background-color: red;
    color: white;
    margin-bottom: 5px;
}

.links img {
    max-width: 60px;
    border-radius: 50%;
    border: transparent;
    margin-left: 2px;
}